.div{
    text-align: center;
    color: white;
}
main{
    background-color: aliceblue;
    width: 500px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}
body{
    background-color: blue;
}
.img img{
    width: 250px;
    margin: auto;
    display: block;
}
.box{
    background-color: blue;
    width: 200px;
    height: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
}
.red{
    background-color: red;
}

.padding{
    height: 350px;
}
.green{
    background-color: green;
}