.*{
	margin: 0;
	padding: 0;
}
.div1{
	width: 250px;
	height: 300px;
	background: blue;
	padding: 20px;
	margin-left: 5%;
	margin-bottom: 5%;
	border-right: blue;
	border-width: 10px;
	border-color: black;
	border-bottom-color: black;
	border-left-color: green;
	border-right-color: green;
	border-style: solid;
}

.div2{
	width: 250px;
	height: 300px;
	background: red;
	padding: 20px;
	margin top: 5%;
	margin-left: 5%;
	border-width: 10px;
	border-left-color: green;
	border-right-color: green;
	border-style: solid;
}
p{
	font-family: arial;
	font-size: 20px;
}